--- 
title: Kategori
layout: page
nav_order: 2
---
<div class="row">
    {% for category in site.categories %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header pb-0 pt-auto">
                {% assign category_name = category[0] %}
                <h5 class="card-title">{{ category_name | upcase }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {% for post in site.categories[category_name] %} {{ post.date | date_to_string }}
                    <a href="{{ post.url }}">
                        - {{ post.title }}
                    </a>
                    <br> {% endfor %}
                </p>
            </div>
        </div>
        <p></p>
    </div>
    {% endfor %}
</div>