--- 
title: Kategori
layout: page
nav_order: 2
---
<div class="card border-0">
    {% for category in site.categories %} {% assign category_name = category[0] %}
    <div id="{{category_name}}" class="card border-secondary rounded-0">
        <div class="card-header pb-0 pt-auto bg-secondary rounded-0 text-light">
            <h5 class="card-title">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i> {{ category_name | upcase }}</h5>
        </div>
        <div class="card-body">
                <table>
                        {% for post in site.categories[category_name] %}
                        <tr>
                        <td align=right>{{ post.date | date_to_string }}</td>
                        <td width="20px" align="center"> - </td>
                        <td>
                            <a href="{{site.baseurl}}{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </td>
                    </tr>
                        {% endfor %}
                </table>
        </div>
    </div>
    <p></p>
    {% endfor %}
</div>