.highlight { border-radius: 1px; padding: 16px 30px 1px; background: #e6e6e6; }
.highlight table pre{margin:0}
.highlight .c,.highlight .c1,.highlight .cd,.highlight .cm{color:#888}
.highlight .cp{color:#c00;font-weight:700}
.highlight .cs{color:#c00;background-color:#fff0f0;font-weight:700}
.highlight .err{color:#a61717;background-color:#e3d2d2}
.highlight .gr{color:#a00}
.highlight .gh{color:#333}
.highlight .gu{color:#666}
.highlight .gd{color:#000;background-color:#fdd}
.highlight .gi{color:#000;background-color:#dfd}
.highlight .ge{font-style:italic}
.highlight .gs{font-weight:700}
.highlight .gl{color:#888}
.highlight .go{color:#888}
.highlight .gp{color:#555}
.highlight .gt{color:#a00}
.highlight .k,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kr,.highlight .kv{color:#080;font-weight:700}
.highlight .kp{color:#080}
.highlight .kt{color:#888;font-weight:700}
.highlight .il,.highlight .m,.highlight .mb,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .mx{color:#00d;font-weight:700}
.highlight .s,.highlight .s1,.highlight .s2,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .sh{color:#d20;background-color:#fff0f0}
.highlight .se{color:#04d;background-color:#fff0f0}
.highlight .si{color:#33b;background-color:#fff0f0}
.highlight .sx{color:#2b2;background-color:#f0fff0}
.highlight .sr{color:#080}
.highlight .ss{color:#a60;background-color:#fff0f0}
.highlight .na{color:#369}
.highlight .bp,.highlight .nb{color:#038}
.highlight .nc{color:#b06;font-weight:700}
.highlight .no{color:#036;font-weight:700}
.highlight .nd{color:#555}
.highlight .ne{color:#b06;font-weight:700}
.highlight .nf{color:#06b;font-weight:700}
.highlight .nl{color:#369}
.highlight .nn{color:#b06;font-weight:700}
.highlight .py{color:#369;font-weight:700}
.highlight .nt{color:#b06;font-weight:700}
.highlight .nv,.highlight .vc{color:#369}
.highlight .vg{color:#d70}
.highlight .vi{color:#33b}
.highlight .ow{color:#080}
.highlight .w{color:#bbb}