---
title: Post
layout: page
---
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="text-center">
            <p></p>
            <h4 class="font-weight-light"><b>{{ page.title }}</b></h4>
            <div class="text-muted">
                <a href="{{site.url}}{{site.baseurl}}/kategori/#{{page.categories}}" style="padding-right: 2%; text-decoration:none">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i> {{ page.categories }}</a>
                <a href="#" style="text-decoration:none">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ page.date | date_to_long_string }} </a>
                <p></p>
            </div>
        </div>
        <div class="font-weight-light">
        {{ content }} {% if site.comments == true %} {% include disqus.html %} {% endif %}
    </div>
    </div>
</div>