---
title: Post
layout: page
---
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="text-center">
            <p></p>
            <h4 class="font-weight-bold">{{ page.title }}</h4>
            <div class="text-muted">
                <h6 class="font-weight-light">Ditulis pada, {{ page.date | date_to_long_string }}</h6>
                <p></p>
            </div>
        </div>
        {{ content }} {% if site.comments == true %} {% include disqus.html %} {% endif %}
    </div>
</div>