---
title: Post
layout: default
---
<div class="row p-3">
    <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xlg-9 mx-auto">
        <div class="text-center">
            <p></p>
            <h3 class="pb-2">{{ page.title }}</h3>
            <div class="text-muted">
                <a class="text-capitalize" href="{{page.url | relative_url}}#{{page.categories}}" style="padding-right: 2%; text-decoration:none">
                    <i class="fa fa-folder-o" aria-hidden="true"></i> {{ page.categories }}</a>
                <a href="#" style="text-decoration:none">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> {{ page.date | date_to_long_string }} </a>
                <p></p>
            </div>
        </div>
        <div>
        {{ content }} {% if site.comments == true %} {% include disqus.html %} {% endif %}
    </div>
    </div>
</div>
